# Mark documentation as documentation (excluded from profile stats, but still shown in repo)
html/** linguist-language=cpp
*.css linguist-language=cpp

# Hide weird auto-detected stuff
*.gbd linguist-generated
*.log linguist-generated
*.out linguist-generated
